.App {
  text-align: center;
}

nav {
  height: 70px;
  padding: 0px;
  padding-right: 125px;
  margin: 0px;
  display: flex;
  background-color: #284b67;
  position: relative;
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

canvas {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.canvas--group {
  display: flex;
  justify-content: space-between;
}

.canvas--view {
  border-radius: 3px;
}

.canvas--toolbox {
  border-radius: 3px;
  position: absolute;
  right: 0;
}

.canvas--console {
  color: #61dafb;
  background-color: #284b67;
  border: 1px solid rgba(97, 218, 251, 0.25);
  text-shadow: 2px 2px 3px rgba(0, 0, 57, 0.25);
  border-radius: 16px;
  padding-left: 10px;
}

.nav--options {
  border-radius: 8px;
  height: 70px;
  padding: 12px;
  margin: 0px;
  color: #61dafb;
  font-size: 27px;
  font-weight: 900;
  outline: none;
  background-color: #284b67;
  text-shadow: 2px 2px 3px rgba(0, 0, 57, 0.25);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.main--section {
  padding-left: 10px;
  padding-right: 10px;
  color: #61dafb;
  margin: 0px;
  background-color: #24435c;
  text-shadow: 2px 2px 3px rgba(0, 0, 57, 0.25);
}

body {
  background-color: #24435c;
}

.menu--section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: left;
  text-shadow: 2px 2px 3px rgba(0, 0, 57, 0.25);
}

table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 960px;
  height: 200px;
}

th {
  border-radius: 16px;
  border-bottom: 1px solid #24435c;
  text-shadow: 2px 2px 3px rgba(0, 0, 57, 0.25);
}

tr {
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 12px 24px -12px inset,
    rgba(27, 51, 70, 0.9) 0px 12px 24px -12px inset;
}

td {
  text-align: center;
}

h4 {
  text-align: left;
}

li {
  padding: 2px;
  list-style-type: none;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  width: 60%;
}

ul {
  padding: 0px;
  margin: 0px;
}

button,
fieldset,
input,
legend,
select,
textarea {
  text-align: center;
  padding-left: 8px;
  padding-right: 10px;
  border-radius: 16px;
  color: #61dafb;
  background-color: #284b67;
  border: 1px solid rgba(97, 218, 251, 0.25);
  text-shadow: 2px 2px 3px rgba(0, 0, 57, 0.25);
}

form {
  text-align: left;
}
